/*WE NEED TO MAKE SURE WE ADD IN CSS FOR @media that rescales for mobile devices*/ 

body {
      margin:0;
      padding:0;
}	
div.header {
			font-family: calibri;
            font-size: xx-large;
            color: yellow;
            height: 50px;
            text-align: center;
            line-height: 50px;
			background-repeat: no-repeat;
			background-color: black;
			background-position: right;
			
}	

div.menu {
			background-color: black;

}

div.menu a {
			font-weight: bold;
			color: white;
			text-decoration: none;
}

div.menu table {
	
}

div.menu td {
			font-family: calibri;
			font-size: x-large;
            min-width: 50px;
            width: 500px;
            text-align: center;
            height: 50px;
			background-color: black;

}

div.menu td.inmenu{
			background-image: url(webimage/menu.png);
			text-align: right;
			background-position: fixed;
			
			
}

div.menu td.inmenu a {
			color: yellow;	
}


div.menu td.inmenu_title {		
			font-family: calibri;
            font-size: xx-large;
            color: yellow;
            text-align: center;
			background-repeat: no-repeat;
			background-color: black;
			background-position: right;
}

div.menu td.inmenu_lion {		
			background-image: url(webimage/golden_lion.jpg);
			background-repeat: no-repeat;
			
}

div.gallery {
        margin: 5%; 
        width: 90%;
        border: 3px;
        border-color: blue;
        border-style: solid;
}
div.gallery td {
		padding-left: 1%;
		padding-right: 5%;
		height: auto;
        width: 1000px;
        min-width: 50px;
        text-align: center;
}
div.gallery h1 {
        text-align: center;
}

div.gallery img {
		max-height: 300px;
		max-width: 300px;
		height: 25%;
		width: 125%;

		
		
}